.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.sections {
    @apply xl:grid xl:grid-cols-3 xl:gap-8;
}

.company {
    @apply space-y-8;
}

.company a {
    @apply flex flex-col space-y-8;
}

.company .companyCredo {
    @apply text-sm leading-6 mt-2;
}

.company .companyLogo img {
    width: 10.5rem;
    @apply opacity-100 grayscale;
}

.company a:hover .companyCredo {
    @apply transition duration-150 ease-in-out text-gray-900 dark:text-gray-300;
}

.company .socials {
    @apply flex space-x-6 grayscale;
}

.company .socials .social {
    height: 1.5rem;
    width: 1.5rem;
    @apply transition duration-150 ease-in-out text-gray-400 hover:text-gray-900 dark:hover:text-gray-300;
}

.copyrightContent {
    @apply flex flex-row items-center justify-between pt-8 mt-16 border-t border-black/10 dark:border-white/10 sm:mt-20 lg:mt-24;
}

.copyrightContent .copyright {
    @apply text-xs leading-5 text-gray-400;
}

.gridNetlify {
    width: 6rem;
    @apply transition duration-150 ease-in-out opacity-50 hover:opacity-100;
}

.resourceTitle {
    @apply text-sm font-semibold leading-6 text-black dark:text-white;
}

.resourceLinks {
    @apply mt-6 space-y-4;
}

.resourceLink {
    @apply px-2 py-1 text-sm font-medium transition duration-150 ease-in-out rounded-md outline-none text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-300 !p-0;
}
