@tailwind base;
@tailwind components;
@tailwind utilities;

.hover\:nx-border-primary-500:hover {
    --tw-border-opacity: 1;
    border-color: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 50% / var(--tw-border-opacity));
}

html[class~=dark] .dark\:hover\:nx-border-primary-500:hover {
  --tw-border-opacity: 1;
  border-color: hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 50% / var(--tw-border-opacity));
}

html[class~=dark] .dark\:nx-block {
    display: block;
}

html[class~=dark] .dark\:nx-hidden {
    display: none;
}

body .nextra-steps h3:before {
    color: inherit;
    font-size: 0.8rem;
    font-weight: 800;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: .5rem;
}
